body { 
    margin:0;
    padding:0;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

#name-plate {
    position:fixed;
    top: 2%;
    left: 2%;
    background-color: rgba(0, 0, 0, 0.8);
    border: white solid 2pt ;
    color: white;
    font-family: 'Acme', sans-serif;
    padding: 10px;
    text-align: center;

}
